<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reply</title>
</head>
<body>
  <p>댓글</p>
  <hr>

  <div id="replyForm">
    <textarea name="replyContent" id="replyContent" placeholder="내용을 입력해주세요." style="width: 80%; resize:none;"></textarea><br>
    <button type="button" id="btnRegReply" onclick="replyReg('<%= newsContent.nid %>')">댓글등록</button> <!-- onclick="replyReg()" -->
    <button type="button" onclick="deleteReply('<%= newsContent.nid %>')">댓글삭제</button>
  </div>

  <ul id="replyRegContent" name="replyRegContent" style="margin-top: 10px;"></ul>

  <script>
    replyList('<%= newsContent.nid %>');
    function replyList(nid){ // 맨처음 호출되는 리스트 출력 함수
      // get 방식으로 nid 값을 넘긴 후 json 타입으로 리스트 가져오기
      fetch('/reply/' + nid)
      .then(response => response.json())
      .then((newReply) => {
        // alert(JSON.stringify(newReply))

        const output = `
          ${newReply.map(reply => `
            <li>${reply.content}</li>
          `).join('\n')}
        `
      document.querySelector('#replyRegContent').innerHTML = output;

      })
      .catch(console.error);

      // 동적 생성으로 코드 출력
    }


    // 댓글 등록 처리
    function replyReg(nid){

      const replyContent = document.querySelector("#replyContent").value;

      fetch('/reply', 
            {
              method : 'post',
              headers : { 'content-type' : 'application/json'},
              body : JSON.stringify({ nid : nid, content : replyContent})
            })
      .then(response => {
        if(response.status === 201){
          window.location.reload(); // reply.js 재호출 --> replyList 함수 실행
        }
      })
    }


    // 댓글 삭제 처리
    function deleteReply(nid){
      fetch('/reply',
            {
              method : 'delete',
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({nid : nid}),
            })
      .then(result => {
        if(result.status === 204){
          window.location.reload();
        }
      })
      .catch(console.error)
    }

    /* document.querySelector("#replyRegContent").insertAdjacentHTML('beforeend',`
          ${data.map(reply => `{
            <div style="border:1px solid gray">${reply.nid}</div>
          }`)}
        `) */
  </script>
</body>
</html>