<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="list.css">
  <title>Document</title>
</head>
<body>
  <ul>
    <li onclick="bestSellerCategory('BestSeller', '1')"><span class="txt">종합</span></li>
    <li onclick="bestSellerCategory('RealTimeSeller', '1')"><span class="txt">실시간</span></li>
    <li onclick="bestSellerCategory('DaySeller', '1')"><span class="txt">일별</span></li>
    <li onclick="bestSellerCategory('MonthWeekSeller', '1')"><span class="txt">월별/주별</span></li>
    <li onclick="bestSellerCategory('SaleSeller', '1')"><span class="txt">특가</span></li>
    <li onclick="bestSellerCategory('SteadySeller', '1')"><span class="txt">스테디셀러</span></li>
  </ul>

  <div id="list"></div>

  <script>
    bestSellerCategory('BestSeller', '1');
    function bestSellerCategory(categoryName, page){
      const url = '/' + categoryName + '/' + page;

      fetch(url)
      .then(response => response.json())
      .then((bestSellerList) => {
        // alert(JSON.stringify(bestSellerList));

        const output = `
          <h2 class="title">${bestSellerList.title}</h2>
          <hr>

          ${bestSellerList.list.map(book => `
            <div>
              <h2>[도서] ${book.bname}</h2>
              <p><span>${book.author} 저자 | </span> <span> ${book.translator} 역자 | </span>
                <span>${book.publisher} 출판사 | </span><span> ${book.pdate}</span></p>
              <p><h3 style="display:inline-block;">${book.price}</h3><span> 원 (판매가)</span></p>
              <p>${book.dc} % (할인율)</p>
              <p>작가 코멘트</p>
              <p> : ${book.bname_comment}</p>
            </div>
            <hr>
            `).join('')}` // 조인을 넣으면 , 가 사라지는데 원인은 map 을 사용하여 배열로 만들어서 자동으로 , 가 생겼다. 왜 자동일까?
        document.querySelector("#list").innerHTML = output;
      })
      .catch(console.error);
    }


    let li = document.querySelectorAll('li');
    li.forEach(e => {
      console.log(e);

      e.addEventListener("click", v => {
        e.classList.remove('on')
        v.target.classList.add('on')
      })
    })
  </script>
</body>
</html>