h1 {
  text-align: center;
}

ul {
  display:flex;
  justify-content: center;
}

li {
  list-style: none;
  border:1px solid #999;
  text-align: center;
  line-height: 48px;
  width: 160px;
  height: 48px;
  background-color: #eee;
  cursor: pointer;
  color:#999;
  font-weight: 600;
}

a {
  display:inline-block;
  width: 100%;
}

li.on {
  border:1px solid #000;
  background-color: #fff;
}

li:hover {
  border:1px solid #000;
  background-color: #fff;
}

li:hover span {
  color:#000;
}

li span.txt {
  color:#000;
}

h2 span {
  color:#196ab3;
}

.join {
  justify-content: flex-end;
}

form {
  text-align: center;
}

p {
  font-weight: 600;
  font-size: 2em;
}

.formBtn {
  flex-wrap: wrap;
  margin-top: 6px;
}