<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="list.css">
  <title>Document</title>
</head>
<body>
  <form name="loginForm" action="/login" method="post" id="loginForm">
    <p>Login Form</p>
    <input type="text" name="id" id="id" placeholder="id 입력" style="width: 50%; background-color: lightcyan;">
    <input type="password" name="pass" id="pass" placeholder="password 입력" style="width: 50%; background-color: lightcyan;">
    <div class="formBtn">
      <button type="submit">Login</button>
      <button type="reset">Reset</button>
    </div>
  </form>
  <br>
</body>
</html>